.grid {
    display: grid;
    grid-template-areas: "head head"
                         "menu main"
                         "foot foot";
  }
  
  .a { grid-area: head; background: blue;
    height: 100px; margin: 3px;
}
  .b { grid-area: menu; background: red;  height: 250px; margin: 3px;}
  .c { grid-area: main; background: green; height: 250px; margin: 3px;}
  
  .d { grid-area: foot; background: orange;  height: 350px;margin: 3px; }